* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

h3 {
  width: 160px;
  font-size: 30px;
}

p {
  color: #9a9a9a;
  font-size: 16px;
  width: 230px;
}

section {
  background-color: #f0f0f0;
}

header {
  min-height: 75px;
  padding: 0px 10px 0 70px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}
#logo-link {
  z-index: 9999;
}
#header-img {
  max-height: 90px;
  display: block;
  z-index: 999;
}

header > nav {
  z-index: 999;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  white-space: nowrap;
}

header > nav > ul > li {
  margin: 0 20px 20px 20px;
  align-items: center;
  min-height: 90px;
}

header > nav > ul > li > a {
  display: block;
  padding: 35px;
  text-decoration: none;
  color: #000;
}

header > nav > ul > li > a:hover {
  background-color: #fc6420;
  color: white;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translateY(25px);
}

.background {
  min-height: 718px;
  background-image: url("img/SÃMBOLO.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  transform: translateY(-84px);
  align-items: center;
}

.background h3 {
  margin-left: 290px;
  margin-bottom: 270px;
}

.background p {
  margin-left: 100px;
  margin-bottom: 270px;
}

#contentref {
  color: #fc6420;
}

#sec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
#sec2 img {
  display: block;
  width: 100%;
  max-width: 550px;
}

.sec2text {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

#contentref2 {
  color: #0e4afb;
}

.paragraphs {
  margin-top: 30px;
  margin-left: 130px;
}

.paragraphs p {
  padding-top: 10px;
  padding-bottom: 10px;
}

#sec3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

#sec3 img {
  display: block;
  width: 100%;
  max-width: 550px;
}

.sec3text {
  display: flex;
  flex-direction: column;
}

.sec3text p {
  margin-top: 30px;
}

#sec4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  background-color: #9325fb;
  height: 100vh;
}

#contentref4 {
  color: #000;
}

#sec4 img {
  display: block;
  width: 100%;
  max-width: 550px;
}

#sec4 .paragraphs {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
}

#sec4 .paragraphs p {
  color: white;
  width: 420px;
  padding-bottom: 20px;
}

.sec4text h3 {
  color: white;
}

#icone {
  max-width: 36px !important;
  max-height: 25px !important;
  margin-right: 25px;
}
#sec4 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#sec4 ul li {
  display: inline-flex;
  margin-top: 25px;
  margin-right: 25px;
  align-items: center;
  color: white;
}

footer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.footerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.footerdiv1 {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}

.footerdiv1 h3 {
  margin-bottom: 220px;
}

.footerdiv1 p {
  color: white;
}

.footerdiv2 {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}

.footerdiv2 ul {
  list-style: none;
}

.footerdiv2 ul li {
  margin-top: 8px;
  margin-right: 8px;
}

.footerdiv2 li > a {
  color: white;
  text-decoration: none;
}

.footerdiv2 p {
  color: white;
}

.footerdiv3 {
  display: flex;
  flex-direction: column;
}

.footerdiv3 p {
  color: white;
}

#p2address {
  margin-top: 60px;
}

.footernetwork {
  max-width: 150px;
  transform: translateX(-25px);
  margin-top: 20px;
}

.footernetwork > #fbtag {
  cursor: pointer;
  margin-right: 30px;
}

#instatag {
  cursor: pointer;
}

.AllrightsReserved {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.AllrightsReserved p {
  color: white;
  font-size: 10px;
  transform: translateX(-25px);
}

/** about page **/

#secAbout1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 370px;
  margin-bottom: 110px;
  min-height: 270px;
}

#secAbout1 h3 {
  width: 240px;
}

#secAbout1 p {
  margin-top: 60px;
  margin-left: 100px;
  width: 400px;
}

#contentrefAbout1 {
  color: #00e184;
}

#secAbout2 {
  display: flex;
  flex-direction: row;
  background-color: #00e184;
  justify-content: space-between;
  padding-top: 30px;
  max-height: 480px;
}
#secAbout2 img {
  height: 480px;
  transform: translateY(-200px);
}

.paragraphsAbout {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 40px;
}

.paragraphsAbout p {
  width: 380px;
}

.paragraphsAbout > p {
  margin-bottom: 30px;
}

.secAbout2text {
  margin-right: 210px;
}

.secAbout2text p {
  color: white;
}

.secAbout2text h3 {
  color: white;
}

/** why wideFlow page **/

#secWhy1 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 350px;
  margin-bottom: 110px;
  min-height: 270px;
}

#secWhy1 h3 {
  width: 260px;
}

#secWhy1 p {
  margin-left: 100px;
  width: 400px;
}

#contentrefWhy1 {
  color: #7200fc;
}

.paragraphsWhy > p {
  margin-bottom: 30px;
}

#secWhy3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  background-color: #9325fb;
  height: 100vh;
}

.sec4text {
  margin-bottom: 120px;
}

.sec4text ul {
  display: flex;
  flex-direction: column;
}

.sec4text ul li {
  margin-top: 25px;
  margin-right: 25px;
  align-items: center;
  color: white;
}

.secWhy4text {
  display: flex;
  flex-direction: column;
}

.sec4text2 ul {
  display: flex;
  flex-direction: column;
}

.sec4text2 ul li {
  margin-top: 25px;
  margin-right: 25px;
  align-items: center;
  color: white;
}

.sec4text2 h3 {
  color: white;
  white-space: nowrap;
}

#secWhyHeader {
  white-space: nowrap;
}

#elementoWhy {
  height: 880px;
  transform: translateY(-100px);
}

/** chatbot page **/

#secChatbot1 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 350px;
  min-height: 270px;
}

#secChatbot1 h3 {
  width: 260px;
}

#secChatbot1 p {
  margin-left: 100px;
  width: 400px;
}

#elementoChatbot {
  height: 450px;
  transform: translateY(5px);
}

.secChatbot1Justify {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secChatbot1Justify h3 {
  margin-right: 200px;
}

#contentrefChatbot1 {
  color: #0e4afb;
}
#secChatbot2 h3,
#secChatbot3 h3 {
  color: white;
  width: 270px;
}

#secChatbot2 p,
#secChatbot3 p {
  color: white;
}

#secChatbot2 {
  background-color: #0e4afb;
}

#contentrefChatbot1 {
  cursor: default;
}

.AlltextsChatbot {
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
}

.chatbotText1 {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.chatbotText1 p {
  width: 400px;
}

.chatbotText2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  justify-content: space-between;
}

.chatbotText2 ol {
  width: 400px;
}

.chatbotText2 p {
  width: 400px;
}

.criacao h3 {
  margin-bottom: 35px;
}

.interacao h3 {
  margin-bottom: 35px;
}

.liberdade h3 {
  margin-bottom: 35px;
}

.comoFunciona h3 {
  margin-bottom: 35px;
}

.comoFunciona ol > li {
  margin-bottom: 20px;
  color: white;
}

.AlltextsChatbot h3 {
  width: 200px;
}

#secChatbot3 {
  background-color: #fc6420;
}

/** Services page **/

#secServices1 {
  height: 450px;
}

.secServices1Justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 330px;
  margin-right: 180px;
  margin-bottom: 60px;
  align-items: center;
}

.paragraphsServices {
  display: flex;
  flex-direction: column;
}

.paragraphsServices p {
  width: 420px;
}

.paragraphsServices > p {
  margin-bottom: 20px;
}

.paragraphsServices ul > li {
  width: 420px;
  margin-bottom: 20px;
}

.ServicesPTag {
  margin-top: 20px;
}
#secServices2 {
  background-color: #ff6700;
}

.secServicesHeader h3 {
  width: max-content;
  margin-bottom: 10px;
  color: #ffffff;
}

.secServicesBottom p {
  width: 1285px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
}

.Services1 {
  padding: 60px;
}

hr {
  height: 2px;
  border-width: 0;
  color: #ffffff;
  background-color: #ffffff;
}

#lastParagraph {
  padding-bottom: 0px;
}

#firstParagraph {
  padding-top: 45px;
}

#secServices3 {
  background-color: #ffe100;
}

#secServices3 h3,
#secServices3 p {
  color: #000;
}

#secServices3 hr {
  color: #000;
  background-color: #000;
}

/** Contact page **/

#secContact1 {
  display: flex;
  flex-direction: row;
}

.secContactText {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#contactAttribute {
  color: #00e184;
  text-decoration: underline;
}

.ContactParagrahs {
  margin-top: 50px;
}

.ContactParagrahs p {
  margin-top: 40px;
  margin-bottom: 40px;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

.FormTop {
  display: flex;
  flex-direction: column;
}

.FormMid {
  display: flex;
  flex-direction: column;
}

.FormBottom {
  display: flex;
  flex-direction: column;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
  color: #7b7b7b;
  border-color: #7b7b7b;
  background-color: #f0f0f0;
  margin-bottom: 40px;
  min-width: 350px;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  border-width: 2px;
  color: #7b7b7b;
  border-color: #7b7b7b;
  background-color: #f0f0f0;
  margin-bottom: 40px;
  min-width: 350px;
}

#submitButton {
  border: none;
  border-width: 0;
  cursor: pointer;
  color: #7b7b7b;
  font-size: 30px;
  background-color: inherit;
  width: 100px;
  align-self: center;
  text-align: center;
  min-height: 50px;
}

#submitButton:hover {
  background-color: #d7d7d7;
  border-radius: 8px;
}

.secContactForm {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#chart_div {
  margin-top: 50px;
}

#messageSent {
  font-size: 14px;
  white-space: nowrap;
  transform: translateY(-30px);
}
